.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */
.input-con {
  display: flex;
  align-items: center;
  width: 100%;

  background-color: #f1f5f9;
  border-radius: 10px;
  padding: 10px;
}
.filter-head {
  font-size: 20px;
  font-family: roboto;
}
.cat-btn {
  background-color: transparent;
  border: 0px;
  text-align: left;
  margin: 10px;
  cursor: pointer;
  outline: none;
  width: 100px;
}
.category-con {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}
.input {
  width: 300px;
  margin-right: 20px;
  background-color: transparent;
  border: 0px;
}
